.title{
    font-style: italic;
    font-weight:bolder;
    text-align: center;
    margin-bottom: 40px;
    margin-top: 30px;
    margin-left:35% ;
    margin-right:35% ;
    color:black
}

.author{
    color: black;
    text-align: center;
    margin-bottom: 5%;
}
h2{
    text-align: left;
}

p{
    text-align: left;
    font-size: 30px;
}



.commentLink{
    color: black;
    font-size: 25px;
}

.likeButtons{
    margin-left: 0%
}
.commentButton{
    margin-bottom: 3%;
    margin-top: 3%
}

