h1{
    text-align: center;
    color: white
}
body{text-align: left;}

.navLink{
    color: black;
    font-family: 'Lato', sans-serif ;
}

.body{ 
    text-align: left;
    background-color: white;
}